.detailUpper {
    display: flex;
    min-height: 600px;
}

.backdrop {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 60%;   
    box-shadow: inset 200px 0px 100px -100px rgba(0,0,0,1);
}

.detailBody {
    width: 40%;
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 18px;
}

@media (max-width: 1100px) 
{
    .detailUpper {
        flex-direction: column-reverse;
        height: 100%;
    }

    .backdrop {
        width: 100%;
        height: 80vh;
        box-shadow: inset 0px -100px 40px -40px rgba(0,0,0,1);
    }

    .detailBody {
        width: 100%;
    }

}

@media (max-width: 900px) 
{

    .backdrop {
        height: 70vh;
    }
    
}

@media (max-width: 700px) 
{

    .backdrop {
        height: 60vh;
    }

}

.detailTitle {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.bodyText {
    margin: 2px;
    margin-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.detailRating {
    display: flex; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

.vote {
    margin-top: 5px;
}

.iconWithText {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.subTitle {
    margin: 0px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.synopsis {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.poster {
    width: 125px;
    border-radius: 10px;
    margin-left: 10px;
}

.angleRight {
    color: rgb(44, 240, 191);
    height: 30px;
    margin: 0px;
    margin-right: 3px;
}

.detailPage {
    display: flex;
    flex-direction: column;
}

.detailLower {
    background-color: rgb(68, 67, 66);
    padding-top: 0px;
    width: 100%
}

.orange {
    color: rgb(253, 166, 115) !important;
}

.recommendations {
    display: flex;  
}

.scroll {
    overflow: auto; 
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.658);
}

.scroll::-webkit-scrollbar-track { 
    background-color: #fff; 
    background-color: rgb(68, 67, 66);
    border-radius: 8px; 
}

.message {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

.valid {
    cursor: copy;
    background-color: rgb(186, 214, 183);
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.notValid {
    cursor: not-allowed;
    border-style: outset;
    background-color: rgb(212, 212, 212);
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.instr {
    color: black;
    background-color: rgb(186, 214, 183);
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
}

@media (max-width: 500px) 
{

    .valid {
        font-size: 14px;
    }

    .notValid {
        font-size: 14px;
    }

}