.detailPage {
    display: flex;
}

.backdrop {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 60%;   
    box-shadow: inset 200px 0px 100px -100px rgba(0,0,0,1);
}

.detailBody {
    width: 40%;
    background-color: black;
    color: white;
}






/* 
To make this mobile friendly
move the pic to the top
Then make the height shorter

change inset shadow for mobile
Make it from 
something like box-shadow: inset 0px -100px 50px -50px rgba(0,0,0,1);
*/