.detailUpper {
    display: flex;
    min-height: 600px;
}

.backdrop {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 60%;   
    box-shadow: inset 200px 0px 100px -100px rgba(0,0,0,1);
}

.detailBody {
    width: 40%;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 18px;
}

@media (max-width: 1100px) 
{
    .detailUpper {
        flex-direction: column-reverse;
        height: 100%;
    }

    .backdrop {
        width: 100%;
        height: 80vh;
        box-shadow: inset 0px -100px 40px -40px rgba(0,0,0,1);
    }

    .detailBody {
        width: 100%;
    }

}

@media (max-width: 900px) 
{

    .backdrop {
        height: 70vh;
    }
    
}

@media (max-width: 700px) 
{

    .backdrop {
        height: 60vh;
    }

}

.detailTitle {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.bodyText {
    margin: 2px;
    margin-left: 0px;
}

.detailRating {
    display: flex; 
}

.vote {
    margin-top: 5px;
}

.iconWithTitle {
    display: flex;
    margin-top: 20px;
}

.subTitle {
    margin: 0;
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.synopsis {
    margin: 0;
}

.poster {
    width: 125px;
    border-radius: 10px;
}

.angleRight {
    color: rgb(156, 149, 255);
    height: 30px;
    margin: 0;
    margin-right: 3px;
}

.detailPage {
    display: flex;
    flex-direction: column;
}

.detailLower {
    background-color: rgb(68, 67, 66);
    padding: 20px;
    padding-top: 0px;
}

.orange {
    color: rgb(255, 172, 124)
}

.recommendations {
    display: flex;  
}

.scroll {
    overflow: auto; 
}

