.footer {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    background-color: rgb(68, 67, 66);
    width: 100%;
}

.footer p {
    margin: 3px;
    margin-left: 10px;
    color: white;
}

.footer a:link {
    color: rgb(250, 212, 231);
}

.footer a:visited {
    color: rgb(212, 249, 250);
}