.footer {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    background-color: rgb(68, 67, 66);
    width: 100%;
}

.footer p {
    margin: 3px;
    margin-left: 10px;
    color: white;
}

.footer a {
    color: rgb(194, 247, 206);
}