.header {
    margin-bottom: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 67, 66);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
  
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    cursor: pointer;
}

li p {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-top: 3px;
}
  
li:hover {
    background-color: #111;
}

.loginNav {
    float: right !important;
}

.homeIcon {
    font-size: 28px;
}

@media (max-width: 379px) 
{

    li {
        padding: 10px 10px;
    }

    li p {
        font-size: 18px;
    }

    .homeIcon {
        font-size: 24px;
    }

}

@media (max-width: 329px) 
{

    li {
        padding: 8px 8px;
    }

    li p {
        font-size: 16px;
    }

    .homeIcon {
        font-size: 20px;
    }

}

@media (max-width: 279px) 
{

    li {
        padding: 7px 7px;
    }

    li p {
        font-size: 15px;
        margin-top: 1px;
    }

    .homeIcon {
        font-size: 18px;
    }

}

@media (max-width: 254px) 
{

    .header {
        margin-bottom: 80px;
    }

}