.header {
    margin-bottom: 45px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 67, 66);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
  
li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
  
li:hover {
    background-color: #111;
}