.tvShows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pagesSection {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 10px;
}

.pageBtn {
    width: 30px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 3px;
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    text-align: center;
}

.currPage {
    background-color: rgb(132, 216, 255);
}

@media (max-width: 319px)
{

    .btnLast {
        display: none;
    }

}

@media (max-width: 279px)
{

    .btnLast {
        display: none;
    }

    .btnEnd {
        display: none;
    }

}

@media (min-width: 551px)
{

    .forMobile {
        display: none;
    }

}