.loginSection {
    text-align: center;
    width: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
}

.signBtn {
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to right, rgb(255, 196, 0) , rgb(255, 115, 0));
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.signLabel {
    text-decoration: underline;
    color: #ff9100;
    cursor: pointer;
}

.loginMessage {
    font-size: 18px;
}

.loginPassword {
    display: flex;
}

.loginLabel {
    font-size: 18px;
}

.loginIcon {
    margin: 12px;
    padding: 0px;
    float: left;
}

.bottomSpace {
    margin-bottom: 10px;
}

.loginTitle {
    margin-bottom: 30px;
}