.searchPage {
    min-height: calc(100vh - 161px);
    margin-top: 80px;
}

.searchInput {
    width: 40%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 2%;
    margin-bottom: 20px;
}

@media (max-width: 1000px) 
{
    
    .searchInput {
        width: 50%;
    }

}

@media (max-width: 700px) 
{
    
    .searchInput {
        width: 60%;
        margin: auto;
        display: block;
        margin-bottom: 15px !important;
    }

}

@media (max-width: 600px) 
{
    
    .searchInput {
        width: 70%;
    }

}

@media (max-width: 500px) 
{
    
    .searchInput {
        width: 80%;
    }

}

@media (max-width: 400px) 
{
    
    .searchInput {
        width: 90%;
    }

}

@media (max-width: 379px) 
{

    .searchPage {
        min-height: calc(100vh - 141px);
        margin-top: 60px;
    }

}